<!-- 1a. Create Event -->
<div id="create-div" class="menu-div padded">
    <form method="POST" action="/admin/event/create-ok">

        <span>Create Event</span><hr><br>

        <div class="groupdiv">

            <label>Event Name</label>
            <input class="field-long" placeholder="Event Name" id="name" type="text" name="name" value="<%= ui.data.create.event.name %>" required><br><br>
            
            <label>Location</label>
            <input class="field-long" placeholder="Event Location" id="location" type="text" name="location" value="<%= ui.data.create.event.location %>" required><br><br>
            
            <label>Presenter</label>
            <input class="field-long" placeholder="Event Presenter" id="presenter" type="text" name="presenter" value="<%= ui.data.create.event.presenter %>" required><br><br>
            
            <label>Contact Email</label>
            <input class="field-long" placeholder="Contact Email" id="email" type="text" name="email" value="<%= ui.data.create.event.email %>" required>
            <br><br>
            
            <table class="fullw">
                <tr>
                    <td class="halfw">
                        <label>Start Date &amp; Time</label>
                    </td>
                    <td class="halfw">
                        <label>End Date &amp; Time</label>
                    </td>
                </tr>
                    <tr>                
                    <td>
                        <input id="startdate" type="date" name="startdate" value="<%= ui.data.create.todayDate %>" required>
                    </td>
                    <td>
                        <input id="enddate" type="date" name="enddate" value="<%= ui.data.create.todayDate %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="starttime" type="time" name="starttime" value="<%= ui.data.create.todayTime %>" required>
                    </td>
                    <td>
                        <input id="endtime" type="time" name="endtime" value="<%= ui.data.create.todayTime %>" required>
                    </td>
                </tr>
            </table><br>
        
            <label>Event Notes</label>
            <textarea class="small" placeholder="Event Notes" id="notes" name="notes" required><%= ui.data.create.event.notes %></textarea><br>

            <input type="submit" value="OK">
        </div>
    </form>

    <!-- debug -->
    <% if (ui.debug) { %><br><br><label>Debug</label><textarea><%= JSON.stringify(ui.data,null,3) %></textarea><% } %>
</div>


<!-- 1b. Confirm Event -->
<div id="create-confirmation-div" class="menu-div padded">

    <% if ( typeof ui.data.create == 'object' && ui.data.create ) { %>

            <span>Confirm Event Details</span><hr><br>
            
             <div class="groupdiv-list">
                
                    <table class="fullw">

                        <tr class="darker">
                        <td><label>Event</label>
                        <p><%= ui.data.create.event.name %></p><hr></td></tr>
                        
                        <tr>
                        <td><label>Presenter</label>
                        <p><%= ui.data.create.event.presenter %></p><hr></td></tr>
                        
                        <tr class="darker">
                        <td><label>Email</label> 
                        <p><%= ui.data.create.event.email %></p><hr></td></tr>

                        <tr>
                        <td><label>Location</label>
                        <p><%= ui.data.create.event.location %></p><hr></td></tr>

                        <tr class="darker">
                        <td><label>Time</label>
                        <p><%= new Date(ui.data.create.event.startdate + ' ' +  ui.data.create.event.starttime ).toString().split('GMT')[0] %> </p>
                        <p><%= new Date(ui.data.create.event.enddate + ' ' +  ui.data.create.event.endtime ).toString().split('GMT')[0] %>%></p><hr></td></tr>
                        

                        <tr>
                        <td><label>Notes</label><p><%= ui.data.create.event.notes %></p><hr></td></tr>

                    </table>
                    <br>

                      <table>
                        <tr>
                            <td>
                                <input type="button" onclick="location.href='/admin/event/create-confirm-ok'" value="Ok">
                            </td>
                            <td>
                                <input type="button" onclick="location.href='/admin/event/create-confirm-back'" value="Back">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>          
        </form>

    <% } %>

    <!-- debug -->
    <% if (ui.debug) { %><br><br><label>Debug</label><textarea><%= JSON.stringify(ui.data,null,3) %></textarea><% } %>
</div>


<!-- 1c. Event Created  -->
<div id="event-created-div" class="menu-div padded">

    <% if (  ui.data.create.event.pin != null ) { %>

        <form method="GET" action="/">
            
            <span>Event Created</span><hr><br>

                    
            <div class="groupdiv">
                <label>Feedback PIN</label>
                <p>Please make a note of your feedback PIN:</p><br><b><%= ui.data.create.event.pin %></b></h3></p>
            </div>
            <br>
                    
            <div class="groupdiv-list">
                
                <table class="fullw">

                    <tr class="darker">
                    <td><label>Event</label>
                    <p><%= ui.data.create.event.name %></p><hr></td></tr>
                    
                    <tr>
                    <td><label>Presenter</label>
                    <p><%= ui.data.create.event.presenter %></p><hr></td></tr>
                    
                    <tr class="darker">
                    <td><label>Email</label> 
                    <p><%= ui.data.create.event.email %></p><hr></td></tr>

                    <tr>
                    <td><label>Location</label>
                    <p><%= ui.data.create.event.location %></p><hr></td></tr>

                    <tr class="darker">
                    <td><label>Time</label>
                    <p><%= new Date(ui.data.create.event.startdate + ' ' +  ui.data.create.event.starttime ).toString().split('GMT')[0] %> </p>
                    <p><%= new Date(ui.data.create.event.enddate + ' ' +  ui.data.create.event.endtime ).toString().split('GMT')[0] %>%></p><hr></td></tr>
                    
                    <tr>
                    <td><label>Notes</label><p><%= ui.data.create.event.notes %></p><hr></td></tr>
                    <tr>
                    <td>
                    <br>
                    <input type="submit" value="OK">
                    </tr>
                    </td>

                </table>
            </div>
        </form>        
    <% } %>

    <!-- debug -->
    <% if (ui.debug) { %><br><br><label>Debug</label><textarea><%= JSON.stringify(ui.data,null,3) %></textarea><% } %>

</div>


<!-- 2. List Events -->
<div id="list-div" class="menu-div padded">
    <form method="POST" action="/admin/event/list">
        
        <span>List Events</span><hr><br>

        <div class="groupdiv">
            <table class="halfw">
                <tr>
                    <td class="halfw"><label>Start Date</label></td>
                    <td class="halfw"><label>End Date</label></td>
                </tr>
                <tr>
                    <td><input id="lstartdate" type="date" name="lstartdate" value="<%= ui.data.list.startDate %>" required></td>
                    <td><input id="lenddate" type="date" name="lenddate" value="<%= ui.data.list.endDate %>" required></td>
                </tr>
            </table>
            <br>

            <input type="submit" value="Get Events">
        </div>

         <% if ( typeof ui.data.list.events[0] == 'object' && ui.data.list.events[0] ) { %>

            <br>
            <span>Events</span><hr><br>

            <% for ( i=0; i< ui.data.list.events.length; i++ ) { %>

                <div class="groupdiv-list">
                
                    <table class="fullw">
                
                        <tr class="darker">
                        <td><label>Event</label>
                        <p><%= ui.data.list.events[i].event.name %></p><hr></td></tr>
                        
                        <tr>
                        <td><label>Presenter</label>
                        <p><%= ui.data.list.events[i].event.presenter %></p><hr></td></tr>
                        
                        <tr class="darker">
                        <td><label>Email</label> 
                        <p><%= ui.data.list.events[i].event.email %></p><hr></td></tr>

                        <tr>
                        <td><label>Location</label>
                        <p><%= ui.data.list.events[i].event.location %></p><hr></td></tr>

                        <tr class="darker">
                        <td><label>Time</label>
                        <p><%= new Date(ui.data.list.events[i].event.start).toString().split('GMT')[0] %></p>
                        <p><%= new Date(ui.data.list.events[i].event.end).toString().split('GMT')[0] %></p><hr></td></tr>

                        <tr>
                        <td><label>Notes</label><p><%= ui.data.list.events[i].event.notes %></p></td></tr>
                        
                                            
                        <tr class="darker">
                        <td><label>Feedback PIN</label> 
                        <p><%= ui.data.list.events[i].event.pin %></p><hr></td></tr>

                        <tr class="darker">
                        <td><br><a href="http://0.0.0.0:3000/modifythis" class="button">Modify</a>
                        <input type="submit" value="Delete"></td></tr>

                        
                    </table>
                </div>
                <br><br>    
            <% } %>

        <% } %>
    </form>

    <!-- debug -->
    <% if (ui.debug) { %><br><br><label>Debug</label><textarea><%= JSON.stringify(ui.data,null,3) %></textarea><% } %>
</div>


<!-- 3. Modify Event -->
<div id="modify-div" class="menu-div" style="display:none">

    <form method="POST" action="/admin/event/update">

        <span>Modify Event</span><hr><br>
        
        <div class="groupdiv">

            <label>Event Name</label>
            <input class="field-long" placeholder="Event Name" id="name" type="text" name="name" value="<%= ui.def_ %>" required><br><br>
            
            <label>Location</label>
            <input class="field-long" placeholder="Event Location" id="location" type="text" name="location" value="<%= ui.def_ %>" required><br><br>
            
            <label>Presenter</label>
            <input class="field-long" placeholder="Event Presenter" id="presenter" type="text" name="presenter" value="<%= ui.def_ %>" required><br><br>
            
            <label>Contact Email</label>
            <input class="field-long" placeholder="Contact Email" id="email" type="text" name="email" value="<%= ui.def_ %>" required>
            <br><br>
            
            <table class="halfw">
                <tr>
                    <td class="halfw">
                        <label>Start Date &amp; Time</label>
                    </td>
                    <td class="halfw">
                        <label>End Date &amp; Time</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="startdate" type="date" name="startdate" value="<%= ui.def_todayd %>" required>
                    </td>
                    <td>
                        <input id="enddate" type="date" name="enddate" value="<%= ui.def_todayd %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="starttime" type="time" name="starttime" value="<%= ui.def_todayt %>" required>
                    </td>
                    <td>
                    <input id="endtime" type="time" name="endtime" value="<%= ui.def_todayt %>" required>
                    </td>
                </tr>
          
            </table><br>
        
        
            <label>Event Notes</label>
            <textarea class="small" placeholder="Event Notes" id="notes" name="notes" required>
            </textarea><br>

            <input type="submit" value="Create Event">

            <label>Feedback PIN for attendees</label>
            <% if ( typeof ui.data[1] == 'object' && ui.data[1] ) { %>
                <input class="field-long" placeholder="" id="pin" type="text" name="pin" value="<%= ui.data[1].pin %>" readonly>
            <% } else { %>
                <input class="field-long" placeholder="" id="pin" type="text" name="pin" value="" readonly>
            <% } %><br><br>
        </div>
    </form>
    <!-- debug -->
    <% if (ui.debug) { %><br><br><label>Debug</label><textarea><%= JSON.stringify(ui.data,null,3) %></textarea><% } %>
</div>
