<!-- 1. Create Event -->
<div id="1" class="menu-div padded" style="display:none">


    <form method="POST" action="/admin/event">

        <span>Create Event</span><hr><br>
        
        <div class="groupdiv">

            <label>Event Name</label>
            <input size=100 class="field-long" placeholder="Event Name" id="name" type="text" name="name" value="<%= ui.def_ %>" required><br><br>
            
            <label>Location</label>
            <input size=100 class="field-long" placeholder="Event Location" id="location" type="text" name="location" value="<%= ui.def_ %>" required><br><br>
            
            <label>Presenter</label>
            <input size=100 class="field-long" placeholder="Event Presenter" id="presenter" type="text" name="presenter" value="<%= ui.def_ %>" required><br><br>
            
            <label>Contact Email</label>
            <input size=100 class="field-long" placeholder="Contact Email" id="email" type="text" name="email" value="<%= ui.def_ %>" required>
            <br><br>
            
            <table class="halfw">
                <tr>
                    <td class="halfw">
                        <label>Start Date &amp; Time</label>
                    </td>
                    <td class="halfw">
                        <label>End Date &amp; Time</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="startdate" type="date" name="startdate" value="<%= ui.def_today_date %>" required>
                    </td>
                    <td>
                        <input id="enddate" type="date" name="enddate" value="<%= ui.def_today_date %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="starttime" type="time" name="starttime" value="<%= ui.def_today_time %>" required>
                    </td>
                    <td>
                    <input id="endtime" type="time" name="endtime" value="<%= ui.def_today_time %>" required>
                    </td>
                </tr>
          
            </table><br>
        
        
            <label>Event Notes</label>
            <textarea class="small" placeholder="Event Notes" id="notes" name="notes" required>
            </textarea><br>

            <input type="submit" value="Create Event"><br><br>

            <label>Feedback PIN</label>
            <% if ( typeof ui.data[1] == 'object' && ui.data[1] ) { %>
                <input size=100 class="field-long" placeholder="" id="pin" type="text" name="pin" value="<%= ui.data[1].response.event.pin %>" readonly>
            <% } else { %>
                <input size=100 class="field-long" placeholder="" id="pin" type="text" name="pin" value="" readonly>
            <% } %><br><br>
        </div>
    </form>

</div>


<!-- 2. List Events -->
<div id="2" class="menu-div padded" style="display:none">
    <form method="POST" action="/admin/events">
        
        <span>List Events</span><hr><br>

        <div class="groupdiv">
        <table class="halfw">
            <tr>
                <td class="halfw"><label>Start Date</label></td>
                <td class="halfw"><label>End Date</label></td>
            </tr>
            <tr>
                <td><input id="lstartdate" type="date" name="lstartdate" value="<%= ui.def_list_start %>" required></td>
                <td><input id="lenddate" type="date" name="lenddate" value="<%= ui.def_list_end %>" required></td>
            </tr>
        </table>
        <br>

        <input type="submit" value="Get Events"><br>
        </div>

        

         <% if ( typeof ui.data[2] == 'object' && ui.data[2] ) { %>

            <br>
            <span>Events</span><hr><br>

            <% for ( i=0; i< ui.data[2].response.length; i++ ) { %>

            <div class="groupdiv-list">
            
                <table class="fullw">
              
                    <tr class="darker">
                    <td><label>Event</label>
                    <p><%= ui.data[2].response[i].event.name %></p><hr></td></tr>
                    
                    <tr>
                    <td><label>Presenter</label>
                    <p><%= ui.data[2].response[i].event.presenter %></p><hr></td></tr>
                    
                    <tr class="darker">
                    <td><label>Email</label> 
                    <p><%= ui.data[2].response[i].event.email %></p><hr></td></tr>

                    <tr>
                    <td><label>Location</label>
                    <p><%= ui.data[2].response[i].event.location %></p><hr></td></tr>

                    <tr class="darker">
                    <td><label>Time</label>
                    <p><%= new Date(ui.data[2].response[i].event.start).toString().split('GMT')[0] %></p>
                    <p><%= new Date(ui.data[2].response[i].event.end).toString().split('GMT')[0] %></p><hr></td></tr>

                    <tr>
                    <td><label>Notes</label><p><%= ui.data[2].response[i].event.notes %></p></td></tr>
                    
                                        
                    <tr class="darker">
                    <td><label>Feedback PIN</label> 
                    <p><%= ui.data[2].response[i].event.pin %></p><hr></td></tr>

                    <tr class="darker">
                    <td><br><a href="http://0.0.0.0:3000/modifythis" class="button">Modify</a>
                    <input type="submit" value="Delete"></td></tr>

                    
                </table>
            </div>
            <br><br>    
            <% } %>

        <% } %>

        <textarea>
        <%= JSON.stringify(ui.data[2], null, 3) %>
        </textarea>

    </form>
</div>


<!-- 3. modify Event -->
<div id="3" class="menu-div" style="display:none">
    <form method="POST" action="/admin/event/update">

        <span>Modify Event</span><hr><br>
        
        <div class="groupdiv">

            <label>Event Name</label>
            <input size=100 class="field-long" placeholder="Event Name" id="name" type="text" name="name" value="<%= ui.def_ %>" required><br><br>
            
            <label>Location</label>
            <input size=100 class="field-long" placeholder="Event Location" id="location" type="text" name="location" value="<%= ui.def_ %>" required><br><br>
            
            <label>Presenter</label>
            <input size=100 class="field-long" placeholder="Event Presenter" id="presenter" type="text" name="presenter" value="<%= ui.def_ %>" required><br><br>
            
            <label>Contact Email</label>
            <input size=100 class="field-long" placeholder="Contact Email" id="email" type="text" name="email" value="<%= ui.def_ %>" required>
            <br><br>
            
            <table class="halfw">
                <tr>
                    <td class="halfw">
                        <label>Start Date &amp; Time</label>
                    </td>
                    <td class="halfw">
                        <label>End Date &amp; Time</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="startdate" type="date" name="startdate" value="<%= ui.def_todayd %>" required>
                    </td>
                    <td>
                        <input id="enddate" type="date" name="enddate" value="<%= ui.def_todayd %>" required>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input id="starttime" type="time" name="starttime" value="<%= ui.def_todayt %>" required>
                    </td>
                    <td>
                    <input id="endtime" type="time" name="endtime" value="<%= ui.def_todayt %>" required>
                    </td>
                </tr>
          
            </table><br>
        
        
            <label>Event Notes</label>
            <textarea class="small" placeholder="Event Notes" id="notes" name="notes" required>
            </textarea><br>

            <input type="submit" value="Create Event"><br><br>

            <label>Feedback PIN for attendees</label>
            <% if ( typeof ui.data[1] == 'object' && ui.data[1] ) { %>
                <input size=100 class="field-long" placeholder="" id="pin" type="text" name="pin" value="<%= ui.data[1].pin %>" readonly>
            <% } else { %>
                <input size=100 class="field-long" placeholder="" id="pin" type="text" name="pin" value="" readonly>
            <% } %><br><br>
        </div>
    </form>
</div>